mixin label(type)
    if type == "eco"
        span.label.eco Le plus économique
    else if type == "rapide"
        span.label.rapide Le plus rapide
    else if type == "access"
        span.label.access Le plus accessible