include mixins/services
+servicesCard("Voiture", "Location, Taxi ou VTC, et autres...")
+servicesCard("Bus", "Trouvez le bus idéal")
+servicesCard("Trains", "RER, METRO, TRAM, TER, TGV, et autres...")
+servicesCard("Restauration", "Restauration à bord TGV, TER")
+servicesCard("Accompagnement", "Faites accompagner votre enfant en toute confiance")
+servicesCard("Service bagages", "Envoyez vos bagages avant votre arrivée")
+servicesCard("Transport de véhicules", "Faites envoyer votre véhicule partout en France")