include mixins/search
+searchBar("Où voulez vous partir")

include mixins/services
+servicesCard("Voiture", "Location, Taxi ou VTC, et autres...")

include mixins/navCard
+navCard("Horaires en gare", "Tableaux des départs et arrivées")
+navCard("Vos itinéraires", "Fréquents, ponctuels...")
+navCard("Infos trafic et réseaux", "Perturbations, travaux, plans...")
+navCard("Informations légales", "Conditions générales de vente, conditions présentation des offres, moyen de paiement.")
